a{
    text-decoration: none;
}

a:link {
    color: red;
  }
  

  a:visited {
    color: green;
  }
  

  a:hover {
    color: hotpink;
    outline: 1px red;
  }
  

  a:active {
    color: blue;
  }